@{
    ViewData["Title"] = "My Name";
}

@if (ViewBag.UserName != null)
{
    <h1>Welcome, @ViewBag.UserName!</h1>
}
else
{
    <h1>Please enter your name:</h1>
    <form method="post" action="/TrackName">
        <input type="text" name="name" />
        <button type="submit">Submit</button>
    </form>
}
