@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Assignment 4: HTTP Cookie</h1>
    <p>Learn about <a href="https://www.codeguru.com/dotnet/asp-net-cookies/">Working With Cookies in ASP.NET Core</a>.</p>
</div>